<section id="quemsomos" class="bg-light p32">
  <div class="container cardtexto">
    <h1 class="titulo1">O que é a By:Tolinhas?</h1>
    <p class="paragrafo-e">
      A By: Tolinhas é uma equipe do cenário competitivo de Overwatch, de Line
      única, fundada pelo seu líder, Leandro Ferreira Rodrigues em 29/06/2019,
      com o propósito de promover um espaço seguro e livre de preconceito para
      jogadores LGBTQIA+ e simpatizantes, da comunidade do Overwatch.
    </p>
    <p class="paragrafo-e">
      O time tem integrantes extremamente diferentes, de todas as sexualidades,
      gêneros, das mais variadas idades e regiões. Porém, todos são unidos com o
      mesmo propósito de criar um time competitivo num ambiente de respeito e
      colaboração.
    </p>
  </div>
</section>
