<footer class="rodape p32 cardtexto">
    <div class="container">
        <h1 class="titulo2">Nos Acompanhe</h1>
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item" style="margin-right: 4px; margin-left: 4px;">
                <a href="https://www.facebook.com/bytolinhas/" class="btn mx-1"><img class="socialicon shadow"
                        src="assets/images/Icons/facebook.svg"></a>
            </li>
            <li class="list-inline-item" style="margin-right: 4px; margin-left: 4px;">
                <a href="https://www.instagram.com/bytolinhas/" class="btn mx-1"><img class="socialicon shadow"
                        src="assets/images/Icons/instagram.svg"></a>
            </li>
            <li class="list-inline-item" style="margin-right: 4px; margin-left: 4px;">
                <a href="https://twitter.com/bytolinhas" class="btn mx-1"><img class="socialicon shadow"
                        src="assets/images/Icons/twitter.svg"></a>
            </li>
            <li class="list-inline-item" style="margin-right: 4px; margin-left: 4px;">
                <a class="btn mx-1"><img class="socialicon shadow" src="assets/images/Icons/youtube.svg"></a>
            </li>
        </ul>
    </div>
</footer>